<header class="header">
  <img class="header__image" src="./assets/images/logo.svg" />
  <form class="form">
    <input
      class="form__search js_searchInput"
      type="text"
      name="search"
      placeholder="Pikachu"
    />
    <button class="search__btn js_searchBtn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="reset__btn" id="js_resetBtn" type="reset">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </form>
</header>
