<header class="header">
  <img class="header__image" src="./assets/images/logo.svg" />
  <form class="form">
    <input
      class="form__search js_searchInput"
      type="search"
      name="search"
      placeholder="Name or ID"
    />
    <div class="form__div">
      <button class="form__btn btn-backward">
        <i class="fa-solid fa-backward"></i>
      </button>
      <button class="form__btn btn-forward">
        <i class="fa-solid fa-forward"></i>
      </button>
    </div>
  </form>
</header>
