<main class="main">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item menu__item--hideFavs js_showFavs">
        <span class="itemContent">
          <i class="fa-solid fa-star"></i>
        </span>
        <span class="itemContentText hidden">Show favorites</span>
      </li>
      <li class="menu__item menu__item--showSearches js_showSearches">
        <span class="itemContent">
          <i class="fa-solid fa-circle-dot"></i>
        </span>
      </li>
    </ul>
  </nav>
  <section class="favs js_favs hidden">
    <h2 class="favs__title">Your favorites</h2>
    <ul class="favs__list js_favsList"></ul>
    <button class="resetFavs js_resetFavs">Delete</button>
  </section>
  <section class="search js_searchBox">
    <h2 class="search__title js_searchTitle"></h2>
    <ul class="search__list js_searchList"></ul>
  </section>
</main>
