.header {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(201, 20, 20);
  padding-bottom: 20px;
  border-bottom: solid black 5px;

  &__image {
    width: 50%;
    padding: 20px 0 10px 0;
  }
}

.form {
  width: 100%;
  padding: 0 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__search {
    padding: 8px;
    text-align: left;
    border-radius: 5px;
  }

  &__btn {
    margin-top: 10px;
    width: 50px;
    padding: 5px;
  }
}
